# Единые окончания строк для кросс-платформенной команды.
* text=auto eol=lf

*.tf        text eol=lf
*.tfvars    text eol=lf
*.hcl       text eol=lf
*.sh        text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.md        text eol=lf
Vagrantfile text eol=lf

*.png  binary
*.jpg  binary
*.gif  binary
*.zip  binary
*.box  binary
